# Node dependencies
node_modules/

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dist / build outputs
api/dist/
api/coverage/
web/dist/
web/coverage/

# Env files
api/.env
web/.env

# IDE / editor
.DS_Store
.idea/
.vscode/

# Temporary files
*.tmp
*.swp

